@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    width: 100%;
}

img.imagemPerguntas{
    width: 1583px;
    height: 600px;
    margin-bottom: -60px;
}

body{
    background-color: #e6e6e6;
    height: 100%;
}

h1{
    font-family: 'Manrope', sans-serif;
}

section{
    width: 100%;
    max-width: 600px;
    margin-left: 580px;
    margin-top: 50px;
    margin-bottom: 50px;

}

details{
    padding: 20px;
    text-align: left;
}

section details sumary{
    background-color: #640000;
    padding: 2%;
    margin-top: 20px;
    border-bottom: 2px solid black;
    color: #e6e6e6;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}

section details p{
    background-color: #e6e6e6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: 600;
    margin-top: 26px;
    margin-left: -20px;
    font-family: 'Manrope', sans-serif;
}